<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/artisynth_core/src/artisynth/core/driver/Launcher.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="artisynth.core.driver.Launcher"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="artisynth_core"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-model artisynth.demos.growth.models.paper._Debug_ThinShell&#13;&#10;-noTimeline     &#13;&#10;-play                   &#13;&#10;-disableHybridSolves    &#13;&#10;-numSolverThreads 1"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="artisynth_core"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx10g"/>
</launchConfiguration>
